.isiaFormRepeater {
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  .repeat-add-wrapper {
    margin-top: 5px;
  }
  .repeat-add img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
  }
  .repeat-remove {
    text-align: right;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    img {
      width: 15px;
      height: auto;
      vertical-align: middle;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  a {
    &.repeat-remove {
      &:hover {
        text-decoration: none;
      }
    }
    &.repeat-add {
      &:hover {
        text-decoration: none;
      }
    }
  }
  .repeat-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    &:first {
      margin-top: 5px;
    }
  }
}
