body {
    background-color: #222;
  }
  #page {
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  #page fieldset:first-child .repeat-add {
    margin: 10px 0;
  }
  #page fieldset:first-child .repeat-remove {
    color: white;
    background: #ca3c3c;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    max-width: 100px;
    text-align: center;
    float: right;
    margin-top: 50px;
  }
  